@import "parameters";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  color: $color-dark;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 20pt;
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
}

.container {
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.text-icon {
  margin: 0 5px;

  path {
    fill: $color-dark;
  }
}

.warning {
  color: $color-warning-light;
}

.side-note {
  font-size: $font-size-small;
}

/////////////////
// Money fields
/////////////////

.currency {
  margin: 0 5px;
}

.grid .currency {
  margin: 0;
}

.money {
  display: contents;
}

.amount {
  text-align: right;
}

////////////
// Buttons
////////////

@mixin btn($color, $color-bgd) {
  background: $color-bgd;
  color: $color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 6px 4px;
  border: 2px solid $color-dark;

  path {
    fill: $color;
  }

  text {
    fill: $color-bgd;
  }
}

.btn {
  @include btn($color-light, $color-dark);
}

.btn-active {
  @include btn($color-dark, $color-light);
}

.btn-disabled {
  @include btn($color-disabled-light, $color-disabled-dark);
}

.btn-transparent {
  background-color: transparent;
  color: $color-dark;
}

.btn-text {
  padding: 3px 15px;
}

.btn-text-small {
  font-size: 10pt;
  padding: 0 10px;
  border-radius: 8px;
}

.btn-icon {
  min-width: 64px;
  min-height: 33px;
  height: 100%;
}

.btn-icon-small {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.btn-icon-medium {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.btn-dng {
  background-color: $color-warning-dark;
  border-color: $color-warning-dark;
}

.btn-line {
  display: flex;
  justify-content: space-around;
  margin: 15px $side-margin;

  .btn-group {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    span {
      font-size: $font-size-small;
      text-align: center;
    }

    .up {
      position: absolute;
      top: -13px;
      left: calc(50% - 6px);
    }
  }
}

.btn-line-wide {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

#goals, #accounts, #expenses {
  flex: 1 1 0;
}

.top-visible {
  z-index: 100;
}
