@import "parameters";

//////////
// Forms
//////////
form {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
  }
}

.input-group {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;

  input, select, textarea, p, .field-error {
    width: $panel-form-width;
  }

  label {
    max-width: $panel-form-label-width;
  }

  .date-input-wrapper {
    width: $panel-form-width;

    input {
      width: 100%;
    }
  }
}

.input-group > span {
  width: $panel-form-width;
  text-align: right;
}

input, select, textarea {
  color: $color-dark;
  box-sizing: border-box;
  min-height: 22px;
  border-color: $color-dark;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: $color-medium;
  font-size: 12pt;
  width: 100%;
}

input, select, textarea, .input-group .amount {
  padding: 3px 10px;
}

input {
  text-align: center;
}

select {
  text-align-last: center;
}

input:focus {
  box-shadow: 0 0 3px $color-dark;
}

.checkbox {
  display: flex;
  justify-content: center;
  width: $panel-form-width;

  button {
    align-self: center;
  }
}

.btn-checked {
  svg {
    transform: scale(0.8);
  }
}

.btn-unchecked {
  background-color: transparent;
  border: 2px solid $color-dark;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

button[type=submit] {
  margin: 15px 0;
}

.btn-line-wide button[type=submit] {
  margin: 0;
}

.money-field, .input-group .money {
  display: flex;
  width: $panel-form-width;

  input, .amount {
    flex-grow: 1;
  }
}

.field-error {
  width: 100%;

  input, select {
    width: 100%;
    border-color: $color-warning-dark;
  }

  .date-input-wrapper {
    width: 100%;
  }

  .money-field {
    width: 100%;
  }

  span.error {
    font-size: $font-size-small;
    color: $color-warning-dark;
  }
}

.common-error {
  padding: 10px 20px;
}

.common-error, .danger {
  color: $color-warning-dark;
}

:disabled, .disabled {
  color: $color-disabled-dark;
}

:disabled {
  background-color: $color-disabled-light;
  border-color: $color-disabled-dark;
}

.compact .date-input-wrapper input {
  max-width: 12ch;
}
