@import "parameters";

#home-content {
  margin: 0 auto;
  padding: 0 $side-margin;
  max-width: 600px;

  label {
    font-size: 12pt;
  }

  input, select {
    height: 40px;
    width: 100%;
    padding: 10px;
    text-align: left;
  }

  .field-error {
    width: 100%;
  }

  .input-group {
    display: block;
  }

  .btn {
    margin-top: 15px;
    align-self: center;
    font-size: 15pt;
  }

  .btn-group {
    max-width: 45%;
  }
}

footer {
  width: 100%;

  a {
    background-color: $color-dark;
    height: 56px;
    width: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-height: 669px) {
  #check-social {
    display: none;
  }
}

@media only screen and (min-height: 590px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (min-height: 710px) {
  h1 {
    margin: 20px 0;
  }
}
