@import "parameters";

nav {
  background-color: $color-navbar;
  color: white;
  flex: 0 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px $side-margin;

  h1 {
    margin: 0;
  }

  button {
    background-color: $color-navbar;
  }
}

#title {
  display: flex;
  justify-content: flex-start;

  span {
    align-self: flex-end;
    font-size: 8pt;
    margin-left: 5px;
  }
}

//////////
// Menus
//////////

.menu {
  display: block !important;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  background-color: $color-light;
  color: $color-dark;
  border: 1px solid $color-dark;
  border-radius: 4px;

  li {
    display: block !important;
    padding: 8px;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: $color-dark;

    a {
      display: inline-block;
      width: 100%;
      color: $color-dark;
    }

    button {
      background-color: $color-light;
      color: $color-dark;
    }
  }
}

a.nav-link {
  color: $color-dark;
  margin-top: 20px;
  padding: 0 $side-margin;
  text-align: right;
}
