@import "parameters";

///////////
// Panels
///////////
.panels {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

@mixin panel($color, $background-color, $padding) {
  background-color: $background-color;
  color: $color;
  border-color: $color;
  border-width: 4px;
  border-radius: 13px;
  border-style: solid;
  margin:  5px $side-margin;
  padding: $padding;
  overflow: auto;
}

.panel {
  @include panel($color-dark, $color-medium, $panel-padding);
}

.upgrade-notice {
  margin: 5px 0;
}

.panel-warning {
  @include panel($color-warning-dark, $color-warning-light, 0);

  margin: 15px $side-margin;

  p {
    font-size: 15pt;
    margin: 5px;
  }
}

#action-panel, #info-panel {
  width: calc(100% - 8px);
  max-height: 90%;
  position: absolute;
  bottom: 0;
  left: 4px;
  z-index: 3;

  background-color: $color-light;
  border: 1px solid $color-dark;
  border-radius: 4px;
  box-sizing: border-box;
  padding: $panel-padding;
}

#action-panel #close-btn {
  position: absolute;
  top: 5px;
  right: 10px;

  background-color: $color-light;
}

#action-panel > h2 {
  margin-bottom: 10px;
}

#info-panel .btn {
  margin: 15px auto 5px auto;
}

#info-panel.error {
  border-color: $color-warning-dark;

  p {
    color: $color-warning-dark;
  }
}

#notif-panel {
  display: flex;
  flex-direction: column;

  em {
    font-style: normal;
    color: $color-dark;
  }

  p {
    display: inline;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  button {
    align-self: flex-end;
    font-size: $font-size-small;
  }
}

#notif-panel.expanded {
  position: absolute;
  top: 0;
  // The 8px at the end is the border width of the panel
  width: calc(100% - 2*#{$side-margin+$panel-padding} - 8px);
  z-index: 4;

  ul {
    max-height: 70vh;
    overflow: auto;
  }
}

#notif-panel.collapsed {
  ul {
    height: 25px;
    overflow: auto;
  }
}

#shadow-box {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 2;
  position: absolute;
}

.empty-cell {
  grid-column: -2 / -1;
}

.empty-cell-2 {
  grid-column: -3 / -1;
}

.empty-cell-3 {
  grid-column: -4 / -1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.panel-header {
  text-align: center;
}

.grid {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  align-items: center;
}

.grid-2 {
  grid-template-columns: 1fr auto;
}

.grid-3 {
  grid-template-columns: 1fr auto auto;
}

.grid-4 {
  grid-template-columns: 1fr auto auto auto;
}

.goals-planning-grid {
  grid-template-columns: auto auto 1fr auto;
}

.grid-5 {
  grid-template-columns: 1fr auto auto auto auto;
}

.grid-6 {
  grid-template-columns: 1fr fit-content(10%) auto auto auto auto;
}

.grid ul, .grid li {
  display: contents;
}

.grid.top-items {
  align-items: start;

  button {
    align-self: start;
  }
}
