$color-dark: #216869;
$color-medium: #c6dabf;
$color-light: #dce1de;
$color-warning-dark: #9d3109;
$color-warning-light: #b27130;
$color-navbar: #1f2421;
$color-disabled-dark: #707070;
$color-disabled-light: #dacbbf;
$color-success: #49a078;

$side-margin: 20px;
$panel-padding: 10px;
$panel-form-width: 55%;
$panel-form-label-width: 45%;

$font-size-small: 9pt;
$font-size-normal: 12pt;
$font-size-large: 15pt;
