@import "parameters";

.goal-detail {
  padding: 0 20px;
  min-width: 110px;
}

#month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px $side-margin;
  padding: 0 35px;


  h2 {
    font-size: 16pt;
    font-weight: normal;
  }
}
