@import "parameters";

#user-profile {
  height: 100%;
  background-color: $color-medium;
  padding: 0 $side-margin;
}

.user-section {
  h1 {
    text-align: left;
    font-size: 16pt;
    border-bottom: solid;
    border-color: $color-dark;
    border-width: 1px;
    position: relative;
  }
}

.profile-line {
  display: flex;
  align-items: center;
}

.profile-label, .profile-value {
  display: inline-block;
  width: 50%;
  line-height: 1.8;
}

.profile-label:after {
  content: ":";
}

.email-value {
  overflow-wrap: break-word;
}

#edit-profile-btn {
  position: absolute;
  right: 5px;
  bottom: 3px;
}
