@import "parameters";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  font-size: $font-size-normal;
  border: none;
  font-family: "Open Sans", sans-serif;
}

h2, body {
  font-size: $font-size-normal;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}
