@import "parameters";

#status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px $side-margin;
  font-size: $font-size-large;

  .success {
    color: $color-success;
  }
}
