@import "parameters";

#transaction-container {
  justify-content: space-between;
}

#transactions {
  flex: 1 1 0;

  .btn-icon-small {
    margin: 0 5px;
  }
}

#transactions-grid {
  grid-template-columns: auto 1fr auto auto 12px;
}

#transaction-range {
  align-self: center;
  font-size: $font-size-large;
  margin: $side-margin;

  display: flex;
  justify-content: space-around;
  width: 80%;
}

#date-range-fields {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;

  .date-input-wrapper {
    width: 40%;
  }

  input {
    padding: 5px 7px;
  }
}

#filters {
  overflow: auto;
  max-height: 350px;
  margin: 10px 0;
}

.filter-row {
  display: flex;
  align-items: center;
}

.filter-group {
  margin-bottom: 5px;
}

.filter-group-title {
  margin: 0 10px;
}

.filter-items {
  margin: 10px 0 10px 25px;
}

.filter-item-name {
  margin-left: 10px;
}

#transfer-items {
  display: flex;
  justify-content: space-between;
}

.transfer-head, .filter-head {
  text-align: center;
  border-bottom: solid 1px $color-dark;
  margin-bottom: 5px;
}

.filter-head {
  width: 50%;
}

#amount-filter .filter-items {
  display: flex;
  flex-direction: row;

  input {
    margin: 0 10px
  }
}

.filter-panel {
  display: flex;
  flex-direction: column;
}

.filter-panel > button {
  align-self: flex-end;
}

.check-line {
  display: flex;
  align-items: center;
  margin: 10px;

  span {
    margin-left: 10px;
  }
}
