@import "../parameters.scss";

$datepicker__background-color: $color-medium !default;
$datepicker__border-color: $color-dark !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: $color-medium !default;
$datepicker__navigation-color: $color-dark !default;
$datepicker__selected-color: $color-dark !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)
  !default;

$datepicker__border-radius: 0.3rem !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: "Helvetica Neue", Helvetica, Arial,
  sans-serif !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;
